<!-- Full-screen Navigation Bar for Desktop -->
<div style="background-color: #333333" class="w-full hidden lg:block">
  <nav
    style="max-width: 1200px"
    class="flex px-6 lg:px-3 justify-between py-3 max-w-screen-xl mx-auto text-sm"
  >
    <ul class="flex space-x-10">
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >BLOG</a
        >
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300">NEW</a>
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >RESERVE</a
        >
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >FEATURED DEALS</a
        >
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >PRODUCTS</a
        >
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >ABOUT</a
        >
      </li>
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300">FAQ</a>
      </li>
    </ul>
    <ul class="flex space-x-12">
      <li class="list-none">
        <a href="#" class="text-white font-medium hover:text-yellow-300"
          >CONTACT US</a
        >
      </li>
    </ul>
  </nav>
</div>
