/* Layout for Cart Page */
.cart-page-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  position: relative;
}

.cart-page-items-container {
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-grow: 1;
  padding: 20px 20px;
  background-color: #fafafa;
}

.cart-page-items-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 10px;
}

.cart-page-buttons {
  text-align: right;
  align-self: flex-end;
}

.cart-page-summary {
  align-self: flex-start;
  background-color: #f0f0f0;
  padding: 10px 15px 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  min-width: 240px;
}

.cart-page-title,
.cart-page-summary-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #cacaca;
}

.cart-page-summary-item,
.cart-page-summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.cart-page-summary-total {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  flex-direction: column;
}

.cart-page-summary-price {
  font-weight: 600;
}

.cart-page-summary-total-price {
  text-align: right;
}

/* Buttons */
.cart-page-button,
.cart-page-clear-button,
.cart-page-checkout-button {
  background-color: #6b7280;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  display: inline-block;
  border: none;
}

.cart-page-clear-button {
  background-color: #ef4444;
}

.cart-page-cancel-button {
  background-color: #6b7280;
  color: white;
  border-radius: 3px;
  border: none;
}

.cart-page-cancel-button:hover {
  background-color: #50555f;
}

/* Hover Effects */
.cart-page-button:hover {
  background-color: #4b5563;
}

.cart-page-clear-button:hover {
  background-color: #dc2626;
}

.cart-page-checkout-button {
  background-color: #333;
  width: 100%;
}

.cart-page-checkout-button:hover {
  background-color: #111;
}

/* Modal Styles */
.cart-page-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.cart-page-modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.cart-page-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-page-modal-buttons button {
  flex: 1;
  margin: 0 10px;
}

.cart-page-edit-link {
  color: #3b82f6;
  text-decoration: none;
  margin-left: 10px;
}

#billing-address,
#shipping-address {
  font-size: 1.2rem;
  padding-left: 2px;
}

/* Address Section */
.cart-page-address-section {
  margin-top: 15px;
}

.cart-page-address-section h5,
.cart-page-shipping-options h5 {
  font-size: 1.3rem;
  font-weight: 600;
}

.cart-page-shipping-options {
  margin-top: 15px;
  font-size: 1.3rem;
}

.cart-page-shipping-labels {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  padding-left: 5px;
}

.cart-page-shipping-options label {
  display: flex;
  font-weight: 500;
  align-items: start;
  gap: 5px;
  width: fit-content;
}

.cart-page-checkout-helper-text {
  margin-top: 25px;
  color: rgb(146, 15, 15);
  font-size: 1.2rem;
}

/* Cart Item Container */
.cart-page-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 0;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 10px;
}

/* Cart Item Content (Image + Details) */
.cart-page-item-content {
  display: flex;
  align-items: start;
  gap: 15px;
  flex: 2;
}

/* Cart Item Image */
.cart-page-item-image {
  width: 60%;
  max-width: 160px;
}

.cart-page-item-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-page-item-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.cart-page-item-quantity-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cart-page-item-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-size: 1.3rem;
}

/* Cart Item Title */
.cart-page-item-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.cart-page-item-value {
  font-weight: 600;
}

/* Action Buttons (Save for Later, Delete) */
.cart-page-action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cart-page-action-button {
  background-color: transparent;
  border: none;
  color: #e0a20f;
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 500;
}

.cart-page-action-button.delete {
  color: #ef2d14;
}

.cart-page-action-button:hover {
  color: #bb8504; /* Hover color */
}

.cart-page-action-button.delete:hover {
  color: #9e1b09;
}

/* Quantity Container */
.cart-page-item-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}

/* Quantity Buttons */
.cart-page-quantity-button {
  width: 30px;
  height: 30px;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  color: #111827;
  cursor: pointer;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.cart-page-quantity-button:hover {
  background-color: #e5e7eb;
}

/* Quantity Input */
.cart-page-quantity-input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 1.3rem;
  outline: none;
}

/* Cart Item Price */
.cart-page-item-price {
  font-weight: 700;
  font-size: 1.6rem;
  flex: 0.5;
  text-align: right;
}

.cart-page-item-srp {
  color: #4f4f4f;
  font-weight: 500;
  font-size: 1.4rem;
  flex: 0.5;
  text-align: right;
}

@media (min-width: 1024px) {
  .cart-page-content {
    display: flex;
    overflow-y: auto;
    flex-direction: row; /* Change to row for desktop layout */
    gap: 20px;
    justify-content: space-between; /* Ensure items are spaced out */
  }

  .cart-page-items-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cart-page-buttons {
    text-align: right;
    align-self: auto;
  }

  .main-content-container {
    width: calc(100% - 270px);
  }

  .cart-page-summary-absolute {
    position: absolute; /* Initially absolute */
    top: 0px; /* Example top positioning */
    right: 0;
  }

  .cart-page-summary-fixed {
    position: fixed; /* Fixed when scrolled */
    right: calc((100% - 1200px) / 2);
    top: 10px; /* Fix it at the top of the viewport when it becomes fixed */
  }

  .cart-page-summary-absolute-bottom {
    position: absolute; /* Initially absolute */
    bottom: 20px; /* Example top positioning */
    right: 0;
  }

  .cart-page-summary {
    width: 260px;
  }

  .cart-page-item-image {
    width: 30%;
    max-width: 120px;
  }

  .cart-page-item-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
  }
}

/* Modal Styles */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

/* Addresses Forms */
/* Container */
.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-container h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

input[type="text"]:focus,
select:focus {
  outline: none;
}

select {
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

/* Save Button */
.btn-save {
  background-color: #e0a20f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: #333333;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  width: 100%;
}

.btn-save:hover {
  background-color: #bb8504;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .form-container {
    padding: 15px;
  }

  .btn-save {
    font-size: 14px;
  }
}

/* Prevent scrolling */
.no-scroll {
  overflow: hidden;
}
